<div class="container3">
<div class="row">
  <div class="col-md-2 d-md-block d-none">
  <h2>Condition</h2>
  <div ><li id="li1" routerLink="/if"> if </li></div>
<div ><li id="li1" routerLink="/if-else"> if-else  </li></div>
<div ><li id="li1" routerLink="/switch-case"> switch-case  </li></div>
<h2>Loop</h2>
<div ><li id="li1" routerLink="/"> for  </li></div>
<div ><li id="li1" routerLink="/while"> while  </li></div>
<div ><li id="li1" routerLink="/do-while"> do-while  </li></div>

  </div>
  <div class="col-md-10 col-12">
<div class="dropdown d-md-none d-block" >
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Operator
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <h3>Condition</h3>
          <li class="dropdown-item"  routerLink="/if"> if </li>
        <li class="dropdown-item"  routerLink="/if-else"> if-else  </li>
        <li class="dropdown-item"  routerLink="/switch-case"> switch-case  </li>
<h3>Loop</h3>
        <li class="dropdown-item"  routerLink="/"> for  </li>
        <li class="dropdown-item"  routerLink="/while"> while  </li>
        <li class="dropdown-item"  routerLink="/do-while"> do-while  </li>

  </div>
</div>
    <router-outlet></router-outlet>

  </div>
</div>
</div>



